#edit-form {
    display: none;
}

#changes-message {
    display: none;
}

#success-message {
    display: none;
}

.container {
    max-width: 800px;
}

.btn {
    border: 2px solid black;
    color: black;
}
